.member-container-wrapper {
    display: flex;
    justify-content: center;
    min-height: 80vh;
    background-color: rgb(10, 10, 10);
    margin-top: 175px;
}

.member-container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}

.member-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-title span {
    width: 30%;
    height: 1px;
    background-color: white;
    margin: 0 15px;
}

.member-title h3 {
    color: white;
    font-size: 30px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.member-image img{
    margin-top: 40px;
    width: 80%; /* Устанавливаем ширину изображения в 80% от контейнера */
    max-width: 400px; /* Ограничиваем максимальную ширину изображения */
    height: auto; /* Высота будет автоматически регулироваться */
    object-fit: contain; /* Сохраняем пропорции изображения */
    border-radius: 10px;
}

.member-info {
    background-color: #111;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
}

.member-info h4 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.member-details {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.member-details li {
    margin-bottom: 10px;
    text-align: left;
}

.quotes {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.quotes p {
    font-weight: bold;
    margin-bottom: 5px;
}

.quotes h4 {
    color: white;
    font-size: 30px;
}

.quotes blockquote {
    background-color: #222;
    padding: 15px;
    margin: 20px 0;
    border-left: 5px solid #fff;
    font-style: italic;
    color: white;
    font-size: 20px;
}
